<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/images/me.jpg">

        <p>This site was created by {{name}}</p>
        <hr>
        <p>It uses data from:</p>
        <ul>
            <li>
                <a href="https://mapbox.com" target="_blank">mapbox.com</a>
            </li>
            <li>
                <a href="https://darksky.net" target="_blank">darksky.net</a>
            </li>
        </ul>
        <p>to fetch the latest weather and temperature for a given location.</p>
    </div>
    
    {{>footer}}
</body>

</html>